html {
    font-size: 16px;
}

body {
    font-family: $body;
    position: relative;
    background: $d-indigo;
    color: $offwhite;
}

header {
    width: 100%;
}

.is-absolute {
    position: absolute;
}

.is-relative {
    position: relative;
}

// .is-align-items-center {
//     align-items: center;
// }

.center-element {
    margin: 0 auto;
}

.section-padding {
    padding: 180px 0;
}

.center-block-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        @extend h3;
        letter-spacing: 0.03em;
    }
}

.tags {
    li {
        display: inline-block;
        padding: 0 10px;
        font-size: 0.75rem;
        color: $neon;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
}

.btn-group {
    padding-left: 20px;
}

.external-link {
    &:focus, &:hover {
        i {
            color: $offwhite;
        }
        
    }
}