html {
    font-size: 16px;
}

body {
    font-family: $body;
    position: relative;
    background: $d-indigo;
}

header {
    width: 100%;
}

.is-absolute {
    position: absolute;
}

.is-relative {
    position: relative;
}

.section-padding {
    padding: 50px 0;
}

.center-block-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        @extend h3;
        letter-spacing: 0.03em;
    }
}