.navbar {
    background: transparent;
    align-items: initial;
    display: block;
}

.navbar-burger {
    display: block;
    align-self: flex-end;
    z-index: 99;
    span {
        width: 43px;
        height: 6px;
        border-radius: 3px;
        background-color: $offwhite;
        margin-bottom: 7px;
        left: -30px;
        position: relative;
        top:auto!important;
        &:nth-of-type(2){
            width: 57px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.navbar-burger.is-active span:nth-child(1) {
    margin-bottom: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    margin-top: -8px;
}

#mainNav {
    position: absolute;
    top: -9999px;
    visibility: hidden;
    transition: 1s top ease-in-out;
    &.is-active {
        display:block;
        visibility: visible;
        position: absolute;
        width: 100%;
        background: $dk-blue;
        height: 100vh;
        top: 0;
        text-align: center;
    }
    .navbar-item {
        display: block;
        padding: 14px 10px 5px;
        &:first-of-type {
            margin-top: 90px;
        }
    }
}

a.navbar-item {
    font-family: $display;
    color: $pink;
    font-size: 3rem;
    &:hover {
        color: $pink;
        background: $ultramarine;
    }
}